<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="appLog"
            xsi:type="File"
            layout="${longdate}|${level:uppercase=true}|${callsite}|${identity}|${message}"
            fileName="${basedir}/logs/app.log"
            archiveFileName="${basedir}/logs/archives/app.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="25"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="iso-8859-2" />
    <target name="errorLog"
            xsi:type="File"
            layout="${longdate}|${level:uppercase=true}|${callsite}|${identity}|${message}|${exception:format=tostring}"
            fileName="${basedir}/logs/error.log"
            archiveFileName="${basedir}/logs/archives/error.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="25"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="iso-8859-2" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" maxlevel="Warn" writeTo="appLog" />
    <logger name="*" minlevel="Error" writeTo="errorLog" />
  </rules>
</nlog>